<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <!-- Initial run settings -->
    <platformName>web</platformName>
    <browserName>chrome</browserName>

    <!-- Timeouts -->
    <defaultTimeout>30</defaultTimeout>

    <!-- Base URL -->
    <URL>https://cloudinary.com/users/login</URL>

    <!-- Test Data -->
    <email>dnik885@gmail.com</email>
    <password>Aa12345!</password>
    <filePath>/Users/danielg/Desktop/automation/Automation/Assets/myImage.jpeg</filePath>
    <publicId>public_id12345</publicId>

</configuration>